#wholecard {
    background-color: #d9d9d9;
    height: 20vw;
    width: 15vw;
    border-radius: 5px;
}

#hidden {
    display: none;;
}

#cardText {
    color: #134e89;
}

#cardTitle {
    padding-top: 5px;
}

#weatherIcon {
    height: 82px;
    width: auto;
}

@media only screen and (max-width: 450px) {
    #wholecard {
        background-color: #d9d9d9;
        height: 45vw;
        width: 60vw;
        border-radius: 5px;
}
}

@media only screen and (max-width: 385px) {
    #wholecard {
        background-color: #d9d9d9;
        height: 40vw;
        width: 55vw;
        border-radius: 5px;
}
}

@media only screen and (max-width: 385px) {
    #wholecard {
        font-size: .85rem;
    }
}