#dailycard {
    border-right: 1px solid;
    border-left: 1px solid;
    width: 320px;
}

#tworow {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    column-gap: 1vh;
}

#weathericon {
    height: 82px;
    width: auto;
}

#dailyHeading {
    color: black
}