#wholebar {
    display: grid;
    grid-template-columns: auto auto;
    transition: 0.1s;
}

#siteName {
    position: relative;
    z-index: 1;
    color: #4A82AA;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    background-color: #F6F8FA;
    z-index: 1;
}

li {
    color: #A5A5AF
}


.list {
    list-style-type: none;
    background-color: #F6F8FA;
    height: 100%;
    display: flex;
    justify-content: end;
    position: relative;
}

.items {
    margin-right: 50px;
    padding-top: 8px;
    font-size: 20px;
    text-transform: uppercase;
    color: #4A82AA;
    cursor: pointer;
    font-weight: 500;
}

.items:hover {
    color: black
}

#siteName {
    height: auto;
    padding-left: 3vw;
    z-index: 2;
    position:fixed;
    color: #1d2d4b
}

