#hpagemain {
    display: grid;
    grid-template-columns: auto;
    height: 120vw;
    background-color: #EF8265;
}

#hpage {
    display: grid;
    grid-template-columns: 50vw 50vw;
    justify-content: space-between;
    height: 55vw;
    background-color: white;
}

#leftside {
    padding-top: 20vh;
    padding-left: 5vw;
}

#mainheading {
    padding-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 5rem;
    text-align: left;
    color: #EF8265;
}

#rightside {
    padding-top: 20vh;
    padding-right: 5vw;
}

#maincitytop {
    display: grid;
    grid-template-columns: auto auto auto;
}

#maincitytop {
    background-color: #D9D9D9;
    width: 25vw;
    height: 12vh;
    margin-left: auto;
}

#maincityinfo {
    margin-top: 3vh;
    background-color: #D9D9D9;
    width: 18vw;
    height: 50vh;
    margin-left: auto;
}

#destinationdisplay {
    margin-top: -40vh;
}

#destinationtitle {
    text-align: start;
    font-size: 3rem;
    padding-left:2vw;
}

#displaycardarea {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}