#hpagemain {
    display: grid;
    grid-template-columns: auto;
    height: 120vw;
    background-color: #f7c59f
}

#hpage {
    display: grid;
    grid-template-columns: 50vw 50vw;
    justify-content: space-between;
    height: 55vw;
    background-image: url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: 100vw
}

#leftside {
    padding-top: 10vh;
    padding-left: 5vw;
}

#mainheading {
    padding-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 5rem;
    text-align: left;
    color: #EF8265;
}

#rightside {
    padding-top: 20vh;
    padding-right: 5vw;
}

#maincitytop {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1vh;
    text-align: end;
    font-size: .8rem;
}

#feelslike {
    margin-top: -4vh;
    font-size: .9rem;
}

#weatherpic {
    height: 75px;
    width: auto;
}

#maincitytop {
    background-color: #f7c59f;
    width: 25vw;
    height: 12vh;
    margin-left: auto;
    border-radius: 5px;
    border: 5px solid #f7c59f;
}

#maincityinfo {
    margin-top: 3vh;
    background-color: #D9D9D9;
    width: 18vw;
    height: 50vh;
    margin-left: auto;
}

#destinationdisplay {
    margin-top: -38vh;
}

#destinationtitle {
    text-align: start;
    font-size: 3rem;
    padding-left:2vw;
}

#displaycardarea {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
}